 html,body{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
     color: #332000;
 }
 .serif{
     font-family: 'Times New Roman', Times, serif;
 }
 body .wrapper{
    box-sizing: border-box;
    max-width: 375px;
    background-color: #f2e2c9;
    margin: auto;
    padding: 0 20px;
 }
 button:active{
     outline: none;
 }
 header #sticky{
     height: 75px;
     width: 100%;
     background-color: #f2e2c9;
     margin: 0 -20px;
     padding: 0 20px;
 }
 @keyframes fixed{
    0%{
       top: -500px;
    }
    100%{
       top: 0px;
    }
 }
 header #sticky.fixed{
     position: fixed;
     border-bottom: 2px solid #f08c34;
     max-width: 375px;
     box-sizing: border-box;
 }
 @media(max-width:335px){
    header #sticky.fixed{
        width: 100%;
    } 
 }
 header #sticky{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }
 header #sticky .header_price{
    font-weight: bold;
    color: #a20404;
    font-size: 24px;
 }
 header #sticky .header_order button{
    cursor: pointer;
    outline: none;
    padding: 15px 0;
    width: 160px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    background-color: #f08c34;
    color: #fff;
    box-shadow: 0 0 0 1px #cdbda3;
 }
 .somthing{
     margin: 0 -20px 15px -20px;
     background: #f6e19b;
     padding: 23px 20px;
 }
 .params .params_items{
     margin-bottom: 10px;
 }
 .params .params_items .params_items_header{
     margin-top: 0;
     margin-bottom: 15px;
 }
 .params .params_items_list{
     padding: 0;
     list-style: none;
     margin: 0 0 10px;
 }
 .params .params_items_list li{
     cursor: pointer;
     margin-bottom: 10px;
 }
 .params .params_items_list li.active-price{
     color: #f08c34;
 }
 .params .params_items_list li:last-child{
     margin-right: 0;
 }
 .params .params_items_list .size_items_item{
     display: inline-block;
     margin-right: 13px;
 }
 .params .params_items_list .block-val{
     border-bottom: 2px solid #a7977e;
 }
 .params .params_items_list .size_items_item .block-size{
     background: #cec2ac;
     margin-bottom: 10px;
 }
 .params .gilding_items, .params .engraving_items,
 .params .kyoto_items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    
 }
 
.params_items_list .gilding_items_item,
.params_items_list .engraving_items_item,
.kyoto_items_item{
    text-align: center;
    margin-right: 14px;
 }

























